package shared

templ LoadingIndicatorLg() {
	<span class="loading loading-spinner loading-lg htmx-indicator"></span>
}

templ LoadingIndicatorSm() {
	<span class="loading loading-spinner loading-sm htmx-indicator"></span>
}
