package components

type AlertMessage struct {
	Level   string
	Message string
}

templ Messages(messages []AlertMessage) {
	<div id="messages" hx-swap-oob="innerHTML">
		for _, m := range messages {
			@infoMessage(m)
		}
	</div>
}

templ infoMessage(m AlertMessage) {
	<div class="toast toast-top toast-center">
		<div class="alert alert-info">
			<span>{ m.Message }</span>
		</div>
	</div>
}
