package pages

import (
	"github.com/pablobastidasv/fridge_inventory/views/components"
	"github.com/pablobastidasv/fridge_inventory/views/layouts"
)

templ CreateProductPage(products []components.ProductOverview) {
	@layouts.Base() {
		<h1>Crear Producto</h1>
		@components.ProductForm()
		<hr/>
		<h1>Productos</h1>
		@components.ProductList(products)
	}
}
