package pages

import (
	"github.com/pablobastidasv/fridge_inventory/views/components"
	"github.com/pablobastidasv/fridge_inventory/views/layouts"
)

templ CreateProductPage(products []components.ProductOverview) {
	@layouts.Base() {
		<div>
			<h1 class="text-3xl">Productos</h1>
			@components.ProductForm()
			<hr class="p-1"/>
			@components.ProductList(products)
		</div>
	}
}
