package pages

import (
	"github.com/pablobastidasv/fridge_inventory/views/components"
	"github.com/pablobastidasv/fridge_inventory/views/layouts"
)

templ ProductsPage(products []components.ProductOverview) {
	@layouts.Base() {
		<div>
			<h1 class="text-3xl">Productos</h1>
			<div hx-get="/products/new" hx-swap="outerHTML" hx-trigger="load"></div>
			<hr class="p-1"/>
			@components.ProductList(products)
		</div>
	}
}
